
#dayBody{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-image: url(./morning.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition-duration: 0.2s;
}
#nightBody{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-image: url(./night.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    transition-duration: 0.2s;
}

#toggleDiv{
    height: 70px;
    width: 140px;
    background-image: url(./sun-moon.webp);
    background-position: center;
    background-size: cover;
    border-radius: 70px;
    margin-top: 10rem;
}


#circleDay{
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 5px;
    transition-duration: 0.2s;

}

#dayHeading{
    font-size: 5rem;
    color: rgb(47, 255, 0);
    transition-duration: 0.2s;
}

#nightHeading{
    font-size: 5rem;
    color: white;
    transition-duration: 0.2s;
}

#circleNight{
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 5px;
    transform: translateX(calc(100% + 10px));
    transition-duration: 0.2s;

}

